* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(hsl(333, 100%, 50%), hwb(262 21% 4%));
  font-family: open sans;
  color: #e9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 50%;
  max-height: 60%;
  padding: 2em;

}
.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
}

.container:hover > .card {
  cursor: grabbing;
  transform: rotateX(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}


.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  backface-visibility: hidden;
}

.front {
flex-direction: column;
justify-content: center;
text-align: center;
border-radius: 5rem;
  background: hwb(328 35% 6%);
  background: linear-gradient(0deg, rgba(224, 3, 95, 0.767) 40%, hsl(237, 36%, 58%) 100%);
  box-shadow: hwb(265 36% 15% / 0.639) 20px 30px 5px inset, 15px 15px 5px rgba(76, 6, 145, 0.702); 
}
 

.back {
  background-color: hwb(269 1% 33% / 0.258);
  transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}